// Roboto
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), 
    url('../fopts/Roboto/Roboto.woff2') format('woff2'), 
    url('../fopts/Roboto/Roboto.woff') format('woff'), 
    url('../fopts/Roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@mixin Roboto($style: regular) {

	@if $style == regular {
		font-family: 'Roboto';
	}

	//@if $style == bold {
	//	font-family: 'Roboto-Bold';
	//}

}

// @include roboto();