/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 737px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 713px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 685px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px) { 

}

/* Small Devices, Tablets */
@media only screen and (max-width : 637px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 630px) { 


	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 595px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 564px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 558px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 545px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) { 

}

/* Small Devices, Tablets */
@media only screen and (max-width : 598px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 460px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 450px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 440px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 439px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 420px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 400px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 386px) {
	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 374px) {
	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) { 

}

/* Small Devices, Tablets */
@media only screen and (max-width : 354px) {
	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 340px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}