@import "fonts";
@import "settings";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	outline: none !important;
}
input {
	outline: none !important;
}
*::-webkit-input-placeholder {
	opacity: 1;
}
*:-moz-placeholder {
	opacity: 1;
}
*::-moz-placeholder {
	opacity: 1;
}
*:-ms-input-placeholder {
	opacity: 1;
}
*:hover {
	transition: 0.2s;
}
input:focus { outline: none; }
a {
	outline: none;
	text-decoration: underline;
	color: #0AACFF;

	&:hover {
		color: #0A90F0;
	}
	&:active,
	&:focus {
		text-decoration: none;
		color: #0A62BE;
	}
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
html {
	font-size: 16px;
}
body {
	background: #fff;
	font-size: rem(16);
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Roboto Condensed';
	font-weight: normal;
    font-style: normal;
    color: #333;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}



// Адаптация

@import "media";